# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Virtualenv
venv/
env/
ENV/
.venv/

# Pytest
.cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Node (if using npm/yarn for frontend)
node_modules/

# Others
*.bak
*.swp
*.swo
